@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('https://fonts.googleapis.com/css?family=GFS+Didot|Lato');

.container-fluid {
    margin: 0 auto;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/*--TOP SECTION--*/
.dollar {
    height: 45px;
    border-right: 1px solid #ededed;
    padding-right: 34px;
    margin-right: 0px !important;
}

.language {
    padding-left: 20px;
    margin-left: 0px;
}

.bag {
    width: 40px;
    border: 2px solid #1f86da;
    border-radius: 50px 50px;
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 51, 51, 51 );
    font-weight: bold;
    text-align: center;
}

.top_footer {
    acolor: #999999 !important;
    afont-size: 14px;
    atext-transform: uppercase;
    height: 45px;
    padding: 0px;

    font-size: 11px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;

}

.top_page {
    border-bottom: 1px solid #ededed ;

}

.mdl-mini-footer {
    background-color: transparent;
}

.mdl-logo {
    font-family: 'GFS Didot', serif;
    font-size: 36px;
    color: #333333;
}

.mdl-mini-footer__link-list {
    margin-left: auto;
    margin-right: auto;
}

.top_footer a, .top_footer a {
    font-size: 8px;
    vertical-align: middle;
}
.container {
    padding: 0px;
}

.brand-logo {
    font-size: 52px;
    font-family: "GFS Didot";
    color: rgb( 51, 51, 51 );
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.header_page {
    border-bottom: 1px solid #ededed;
    margin-left: auto;
    margin-right: auto;
}

.material-icons {
    font-size: 18px;
}

.header_list{
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header_list li {
    margin-right: 60px;
}

.header_list li:last-child {
    margin-right: 0px;
}

.mdl-mini-footer__center-section {
    margin-right: auto;
    margin-left: auto;
}

.header_list_right {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: 900;
    text-transform: uppercase;
    float: left;
}

.header_logo{
    background-image: url("../img/design_03.png");
    width:94px;
    height: 39px;
    afont-size: 52px;
    afont-family: "GFS Didot";
    acolor: rgb( 51, 51, 51 );
    afont-weight: bold;
    atext-transform: uppercase;
    atext-align: left;
}

.for_header {
    padding-left: 0px;
    padding-right: 0px;
}

.red {
    color: red;
}

/*-- CATALOG SECTION --*/
.catalog_page {
    text-align: center;
}
.catalog_section {
    margin-left: auto;
    margin-left: auto;
}


.catalog_page h1 {
    font-size: 52px;
    font-family: "Playfair Display";
    color: rgb( 51, 51, 51 );
    font-weight: bold;
    margin-top: 100px;
}

.catalog_list li{
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 55px;
    margin-top: 35px;
}

.catalog_list li:last-child {
    margin-right: 0px;
}

.product-max-width {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.product.mdl-card {
    width: 263px;
    height: 420px;
}
.product-card-square-1 {
    color: #fff;
    background:  url('../img/design_03.jpg') top right 0% no-repeat transparent;
    margin-left: 0px;
    margin-right: 16px;
}

.product-card-square-2 {
    color: #fff;
    background:  url('../img/design_05.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 16px;
}

.product-card-square-3 {
    color: #fff;
    background:  url('../img/design_07.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 16px;
}

.product-card-square-4 {
    color: #fff;
    background:  url('../img/design_09.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 0px;
}

.product-card-square-5 {
    color: #fff;
    background:  url('../img/design_15.jpg') top right 0% no-repeat transparent;
    margin-left: 0px;
    margin-right: 16px;
}

.product-card-square-6 {
    color: #fff;
    background:  url('../img/design_16.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 16px;
}

.product-card-square-7 {
    color: #fff;
    background:  url('../img/design_17.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 16px;
}

.product-card-square-8 {
    color: #fff;
    background:  url('../img/design_18.jpg') top right 0% no-repeat transparent;
    margin-left: 8px;
    margin-right: 0px;
}

.product h1 {
    font-size: 16px;
    font-family: "Playfair Display";
    color: rgb( 51, 51, 51 );
}

.product p {
    font-size: 16px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    line-height: 1.25;
}

.mdl-card__supporting-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 240px;
}

p.loadmore {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
}

/*-- SUBSCRIBE SECTION --*/

.subscribe {
    text-align: center;
    background-image: url("../img/design_03.gif");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 287px;
    position: relative;
}

.subscribe_content {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe_content p {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.6 );
    font-weight: bold;
    text-transform: uppercase;
}

.subscribe_content h1 {
    font-size: 38px;
    font-family: "Playfair Display";
    color: rgb( 255, 255, 255 );
    text-align: center;
}

input.email_input {
    background-color: transparent;
    width: 300px;
    height: 48px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );
    border-radius: 50px;
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 255, 255, 255 );
    margin-left: auto;
    margin-right: auto;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
    font-family: "Lato";
    color:    rgba( 255, 255, 255, 0.6 ) !important;
    margin-left: 25px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    font-family: "Lato";
    color:    rgba( 255, 255, 255, 0.6 ) !important;
    opacity:  1;
    margin-left: 25px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
    font-family: "Lato";
    color:    rgba( 255, 255, 255, 0.6 ) !important;
    opacity:  1;
    margin-left: 25px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
    font-family: "Lato";
    color:    rgba( 255, 255, 255, 0.6 ) !important;
    margin-left: 25px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    margin-top: 35px;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.right-addon .glyphicon {
    right: 0px;
    right: 45px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 15px;
}

/* add padding  */
.right-addon input { padding-right: 30px; }

.reserved {
    font-size: 12px;
    font-family: "Lato";
    color: rgba( 51, 51, 51, 0.502 );
    font-weight: bold;
}

/*--FOOTER SECTION--*/

.footer_list {
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 51, 51, 51 );
    font-weight: bold;
    text-transform: uppercase;
}

.footer_list li {
    margin-right: 55px;
}

.footer_list li:last-child {
    margin-right: 0px;
}

.footer_logo{
    background-image: url("../img/design_03.png");
    width:94px;
    height: 39px;
    afont-size: 52px;
    afont-family: "GFS Didot";
    acolor: rgb( 51, 51, 51 );
    afont-weight: bold;
    atext-transform: uppercase;
}

a.active {
    color: rgb( 51, 51, 51 );
}

.glyphicon-chevron-down {
    font-size: 10px;
    margin-left: 14px;
}
